.calendar-container ul {
  list-style-type: none;
}

.calendar-container {
  font-family: 'Lato', sans-serif;
}

/* Title */
.title {
  padding: 50px 25px;
  width: 100%;;
  text-align: center;
}


.title ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.title #prev {
  float: left;
}

/* Next button */
.title #next {
  float: right;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#eee;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color:black;
  text-align: center;
}

#days {
  padding: 10px 0;
  background:#fff;
  margin: 0;
}

#days li {
  list-style-type: none;
  display: inline-block;
  width: 14.0%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
}

.lightgrey{
	color: #777;
}
.darkgrey{
	color:black; 
}

/* Highlight the "current" day */
#days li .active {
  padding: 5px;
}

.userColorBlue{
  color: white;
}

#prev:hover{
  background-color: white;
}
#next:hover{
  background-color: white;
}

@media screen and (min-width: 1280px) {
  .calendar-container{
    display: block;
    float: right;
    display: grid;
    width: 40%;
    margin: 0 50px;
    padding: 2%;
  }

  .container text-body{
    display: block;
    float: left;
    display: grid;
    width: 40%;
  }

  .list-group-item{
    width: 80%;
  }
}
