.calendar-container ul {
  list-style-type: none;
}

body {
  font-family: 'Lato', sans-serif;
}
/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;;
  text-align: center;
}


.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
}

/* Next button */
.month .next {
  float: right;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
;
  color: white
}
.calendar-container{
  padding: 5%;
}

@media screen and (min-width: 1280px) {
  .calendar-container{
    display: block;
    float: right;
    display: grid;
    width: 40%;
    margin: 0 50px;
    padding: 2%;
  }

  .container text-body{
    display: block;
    float: left;
    display: grid;
    width: 40%;
  }

  .list-group-item{
    width: 80%;
  }
}
