@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.calendar-container ul {
  list-style-type: none;
}

.calendar-container {
  font-family: 'Lato', sans-serif;
}

/* Title */
.title {
  padding: 50px 25px;
  width: 100%;
  text-align: center;
}


.title ul li {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.title #prev {
  float: left;
  margin-top: 20px;
}

/* Next button */
.title #next {
  float: right;
  margin-top: 20px;
  margin-right: 25px;
}

#days li:hover{
  background-color: rgb(255, 229, 80);
  
}

#calendar-year{
  text-shadow: 3px 3px 3px #f1f1f180;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#eee;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color:black;
  text-align: center;
}

#days {
  padding: 10px 0;
  background:#fff;
  margin: 0;
}

#days li {
  list-style-type: none;
  display: inline-block;
  width: 14.0%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
}

.lightgrey{
	color: #777;
  border: none;
}
.darkgrey{
	color:black; 
  border: none;
}

.mark_cal{
  border: 2px solid black;
}

/* Highlight the "current" day */
#days li .active {
  padding: 5px;
}
.calendar-container{
  padding: 5%;

}
.userColorBlue{
  color: white;
}

#prev:hover{
  cursor: pointer;
}
#next:hover{
  cursor: pointer;

}

#days_msg{
  margin: 10px 30px;
}

.calendar-events {
  background-color:#eeeeee;

}

@media screen and (min-width: 1280px) {
  .calendar-container{
    display: block;
    float: right;
    display: grid;
    width: 40%;
    margin-right: 1%;
    margin-top: 3%;
    padding: 2%;
  }


}
