@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


body{
  margin-top:20px;
  background: #ffffff;
  font-family: 'Lato', sans-serif;
}

.todo-nav {
  margin-top: 10px
}

.userColorPurple{
  background-color: rgb(102, 51, 153);
}
.userColorBlue{
  background-color: rgb(0, 70, 132);
}
.userColorGreen{
  background-color: #0d6d38;
}
.todo-inputBox {
  margin: 15px 0;
}

.form-group {
  padding-left: 0;
}

.text-right {
  margin-top: 2%;
}
.show-list {
  padding: 0;
  margin-top: 15px;
  position: relative;
  max-height: 35vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#submit-button {
  cursor: pointer;
  padding-top: 1%;
}

#todosBox {
  position: relative;
  top: 50vh;
  color: #333;

}

.delete {
  cursor: pointer; 
  float: right;
  margin-left: 2%;
}

.edit {
  cursor: pointer; 
  float: right;
}
